$TTL 2D
@       IN      SOA     {{ ansible_fqdn }}. {{ bind9_mail_address }}. (
                        {{ now().year }}{{ now().month }}{{ now().day }}{{ now().hour }}      ; Serial
                                8H      ; Refresh
                                2H      ; Retry
                                4W      ; Expire
                                3H )    ; TTL Negative Cache

@                               IN      NS      {{ ansible_fqdn }}.

{{ ansible_default_ipv4.address | ipaddr('address') | regex_replace('(\d+)\.(\d+)\.(\d+)\.(\d+)', '\\4') }}               IN      A       {{ ansible_fqdn }}
{% for zone, records in bind9_zones_reverse.items() %}
{% for record in records %}
{{ record.ip }}                   IN      PTR	{{ record.name }}
{% endfor %}
{% endfor %}