{% for item in bind9_zones_forward %}
zone "{{ item }}" {
    type primary;
    file "/etc/bind/{{ item }}";
};
{% endfor %}

{% for item, value in bind9_zones_reverse %}
zone "{{ item }}" {
    type primary;
    file "/etc/bind/{{ item }}";
};
{% endfor %}

{% for item in bind9_zones_remote %}
zone "{{ item.domain }}" {
    type forward;
    forwarders {
        {{ item.remote_dns }};
    };
    forward only;
};
{% endfor %}