{% for zone, records in bind9_zones_forward.items() %}
zone "{{ zone }}" {
    type primary;
    file "/etc/bind/db.{{ zone }}";
};
{% endfor %}

{% for zone, records in bind9_zones_reverse.items() %}
zone "{{ zone }}.in-addr.arpa" {
    type primary;
    file "/etc/bind/db.{{ zone }}";
};
{% endfor %}

{% for item in bind9_zones_remote %}
zone "{{ item.domain }}" IN {
    type secondary;
    file "/var/cache/bind/{{ item.domain }}.db";
    primaries { {{ item.remote_dns }}; };
};
{% endfor %}