acl allowed-clients {
{% for item in bind9_acl %}
    {{ item }};
{% endfor %}
};

options {
    directory "/var/cache/bind";
    forwarders {
    {% for item in bind9_forwarders %}
        {{ item }};
    {% endfor %}
    };
    allow-query { allowed-clients; };
};
